<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!--Default stuff   -->

    <display-name>smart-city</display-name>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <!--Spring-->

    <!--<context-param>-->
        <!--<param-name>contextConfigLocation</param-name>-->
        <!--<param-value>classpath:applicationContext.xml</param-value>-->
    <!--</context-param>-->

    <!--<listener>-->
        <!--<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>-->
    <!--</listener>-->

    <!--Servlets-->

    <servlet>
        <servlet-name>servlet</servlet-name>
        <servlet-class>ru.enschin.smartcity.controller.Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servlet</servlet-name>
        <url-pattern>/servlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>postUserServlet</servlet-name>
        <servlet-class>ru.enschin.smartcity.controller.PostUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>postUserServlet</servlet-name>
        <url-pattern>/post_user</url-pattern>
    </servlet-mapping>



</web-app>